@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Honk&family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Honk&family=Protest+Guerrilla&family=Protest+Riot&display=swa");

body {
  background: url("/img/wallpaperflare.com_wallpaper\ \(1\).jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  /* Позволяет сделать фото полноценным фоном. */
  /* no-repeat|background-size-cover|height-100vh. */
}

#blockM {
  text-align: center;
  font-family: "Honk", system-ui;
  font-size: 2.5em;
  letter-spacing: 20px;
}

.oneI {
  color: rgb(58, 79, 97);
  /* text-decoration: underline; */
  font-weight: 200;
  /* text-align: center; */
  font-family: "Protest Guerrilla";
  line-height: 45px;
}

.textM {
  text-align: center;

  font-size: 1.5em;

  font-weight: 300px;

  font-family: "Honk", system-ui;

  font-style: italic;

  text-transform: lowercase;

  letter-spacing: 20px;

  line-height: 30px;
}

.textM:hover {
  text-decoration: underline;
}

.textM:active {
  text-decoration: line-through;
}

.text {
  text-align: center;

  font-size: 1.5em;

  font-weight: 300px;

  font-family: "Honk", system-ui;

  font-style: italic;

  text-transform: capitalize;

  word-spacing: 6px;

  letter-spacing: 6px;

  line-height: 30px;
}

.text:hover {
  text-decoration: underline;
}

.text:active {
  color: black;
  text-decoration: line-through;
}

/* Блок */
#block_register {
  margin: 0;
  color: aliceblue;
  text-align: center;
  font-size: 3em;

  background-image: url("/img/wallpaperflare.com_wallpaper.jpg");
  background-repeat: no-repeat;
  margin: 0; /* Убирает внешние отступы у body */
  padding: 0; /* Убирает внутренние отступы у body */
  background-size: cover;
  height: 100vh;
  width: 100px;

  width: 100%;
  height: 620px;
}

#block_register:hover {
  text-decoration: underline;
  text-decoration-color: aqua;
}

.inputM {
  background-color: rgb(140, 140, 202);
  color: red;
  font-size: 30px;
}

.inputM:focus {
  color: aqua;
}
